@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    height: 100%;
}

:root {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-primary-color: #283583;
    --bs-primary-rgb: 40, 53, 131;
    --bs-secondary-color: #EDF3FF;
    --bs-secondary-rgb: 237, 243, 255;
}

body {
    font-family: var(--bs-body-font-family);
}

.container {
    margin: 0 auto;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card:hover {
    background-color: var(--bs-secondary-color);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btnKainos {
    border-color: #283583;
    border-width: 0.15em;
    border-style: solid;
    color: #283583;
    text-decoration: none;
    padding: 0.3em;
    font-size: medium;
}

.btnKainos:hover {
    border-color: #283583;
    background-color: #283583;
    color: white;
    text-decoration: none;
    padding: 0.3em;
    font-size: medium;
}

.nav-Link {
    padding: 0.3em;
    text-decoration: none;
    color: black;
}

.nav-LinkOnPage {
    color: white;
    padding: 0.3em;
    background-color: #283583;
}

.nav-Link:hover {
    text-decoration: underline;
}

.errorMessage {
    color: red;
}

#jobRolesTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

#jobRolesTable td, #jobRolesTable th {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

#jobRolesTable th {
    background-color: #f4f4f4;
    text-align: center;
}

#jobRolesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#jobRolesTable tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    #jobRolesTable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

#jobRolesTable a {
    color: #283583;
    text-decoration: none;
}

#jobRolesTable a:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#job-spec-link {
    color: #000000; /* Dark text color for better contrast */
    background-color: #ffffff; /* Light background color */
}