@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-primary-color: #283583;
    --bs-primary-rgb: 40, 53, 131;
    --bs-secondary-color: #EDF3FF;
    --bs-secondary-rgb: 237, 243, 255;
}

.card:hover {
    background-color: var(--bs-secondary-color);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btnKainos {
    border-color: #283583;
    border-width: 0.15em;
    border-style: solid;
    color:#283583;
    text-decoration: none;
    padding: 0.3em;
    font-size: medium;
}

.btnKainos:hover {
    border-color: #283583;
    border-style: solid;
    background-color: #283583;
    color:white;
    text-decoration: none;
    padding: 0.3em;
    font-size: medium;
}

.nav-Link {
    padding: 0.3em;
    text-decoration: none;
    color: black;
}

.nav-LinkOnPage {
    color: white;
    padding: 0.3em;
    background-color: #283583;
}

.nav-Link:hover{
    text-decoration: underline;
}

.errorMessage {
    color: red;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
