{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container-center">
    <div class="col-sm-6">
        <div class="card border-0 m-5 shadow bg-body-secondary">
            <div class="card-body">
                <h2 class="card-title text-center">AI Job Search</h2>
                {% if errormessage %}
                <h5 class="errorMessage text-center" id="errorMessage">{{ errormessage }}</h5>
                {% endif %}
                <div >
                    <p>Enter a little about yourself and we will try our best to get the most relevent jobs for you. Try
                        to include the following</p>
                    <ul>
                        <li>Where you live?</li>
                        <li>Your capability</li>
                        <li>Your Band (eg. Junior, Senior)</li>
                    </ul>
                </div>
                <form class="form mt-3 text-center" action="/job-roles-personalised" method="post">
                    <span>
                        <input class="form-control" id="prompt" name="prompt" value="{{prompt}}"
                            placeholder="I want to work as (Your Job) and I live near (Your town/ city)" type="text">
                    </span>
                    <button class="btnKainos mt-2 text-center" id="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <div class="container" >
        <div class="row m-5" >
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align: center;">Job Roles</h3>
                        <h6 class="card-text" style="text-align: center; margin-bottom: 2%;">Want to see all Job Roles ?
                            Choose to see all avaliable positions!
                        </h6>
                        <a href="/job-roles" class="btnKainos mt-2 text-center" style="margin-left: 23%; margin-top: 5%; margin-bottom: 5%;" >Click here to see all Job Roles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}