{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container-center">

    <div class="row m-5">
        <div class="col-sm-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center">Job Roles</h3>
                    <h5 class="card-text text-center mb-2">Need help? Why not ask our AI bot?</h5>
                    <a href="/AIJobSearch" class="btnKainos mt-2 d-block mx-auto" style="width: 200px;">Click here for
                        the bot</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container m-5">
        <h1>Job Roles</h1>
        <table class="table table-striped table-bordered" id="jobRolesTable">
            <thead>
                <tr>
                    <th scope="col">Role Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Capability</th>
                    <th scope="col">Band</th>
                    <th scope="col">Closing Date</th>
                    {% if userLevel.Role == 1 %}
                    <th scope="col">Delete Job Role</th>
                    {% endif %}
                    {% if userLevel.Role == 2 %}
                    <th scope="col">Apply</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for jobRole in jobRoles %}
                <tr>
                    <td id="jobRoleName-{{jobRole.id}}">
                        <a href="/jobRoles-{{jobRole.id}}" id="role-name-{{jobRole.id}}">{{ jobRole.roleName }}</a>
                    </td>
                    <td id="jobRoleLocation-{{jobRole.id}}">
                        {{ jobRole.location }}
                    </td>
                    <td id="jobRoleCapability-{{jobRole.id}}">
                        {{ jobRole.capability }}
                    </td>
                    <td id="jobRoleBand-{{jobRole.id}}">
                        {{ jobRole.band }}
                    </td>
                    <td id="jobRoleClosingDate-{{jobRole.id}}">
                        {{ jobRole.closingDate | date }}
                    </td>
                    {% if userLevel.Role == 1 %}
                    <td id="deleteButton-{{jobRole.id}}">
                        <a href="/jobRolesDelete-{{jobRole.id}}"
                            onclick="return confirm('Are you sure you want to delete this Job Role?');"
                            class="btnKainos">Delete
                        </a>
                    </td>
                    {% endif %}
                    {% if userLevel.Role == 2 %}
                    <td id="applyButton-{{jobRole.id}}">
                        <a href="/jobRolesApply-{{jobRole.id}}" class="btnKainos">Apply Now</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block footer %}
{% include "snippets/footer.html" %}
{% endblock %}