{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container-center">
<div class="container m-5">
<h1>Job Roles</h1>
<table class="table table-striped table-bordered" id = "jobRolesTable">
    <thead>
    <tr>
        <th scope="col">Role Name</th>
        <th scope="col">Location</th>
        <th scope="col">Capability</th>
        <th scope="col">Band</th>
        <th scope="col">Closing Date</th>
        {% if userLevel.Role == 2 %}
            <th scope="col">Apply</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for jobRole in jobRoles %}
        <tr>
            <td><a href="/job-roles-{{jobRole.id}}">{{ jobRole.roleName }}</td>
            <td>{{ jobRole.location }}</td>
            <td>{{ jobRole.capability }}</td>
            <td>{{ jobRole.band }}</td>
            <td>{{ jobRole.closingDate | date }}</td>
            {% if userLevel.Role == 2 %}
                <td><a href="/job-apply-{{jobRole.id}}" class="btnKainos">Apply Now</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
