{% extends "siteTemplate.html" %}
{% block content %}
    <div class="container">
        <div class="m-5">
            <h2 class="text-center">
                The story so far
            </h2>
            <h5 class="mt-3">
                Life at Kainos is pretty unique. Not just because of what we do but equally the way we do it. So,
                yes, we help cities around the world work smarter and save money, we drive complex digital
                transformations for government, help big brands thrive on Workday, and we work to ensure the incredible
                impact we have is also sustainable.
            </h5>

            <p class="mt-3">
                But we do all of this by handpicking great people who share our values and vision.
                We give them the best support available and empower them with the confidence to bring their whole selves
                to work.
                And we set them free in a culture where true inclusivity encourages curiosity,
                incites ambition and invites everyone to engage on a level playing field.
            </p>

            <p class="mt-3">
                In short, this is where you just don't go to work. This is where you come to life.
            </p>
        </div>
    </div>



    <div class="container">
        <div class="row m-5">
            <div class="col-sm-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <p class="card-title">Job Roles</p>
                        <h3 class="card-text">Be part of the team that pushes bounderies, breaks barriers and builds
                            change.</h3>
                        <a href="/job-roles" class="btnKainos mt-2">View Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <p class="card-title">About us</p>
                        <h3 class="card-text">Learn about our most popular projects, our extensive history and much
                            more.</h3>
                        <a href="#" class="btnKainos mt-2">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}