{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container.center">
<div class="m-5 text-center">
    <div class="bg-body-secondary card">
    <form class="form mt-3" action="/jobRoleForm" method="post">
        <h3><label for="roleName">Role Name:</label></h3>
        <input class="form-control" id="roleName" name="roleName" value="{{roleName}}" type="text">
        
        <h3><label for="location">Location:</label></h3>
        <select class="form-control" id="location" name="location">
            {% for location in locations %}
                <option value="{{ location.id }}" {% if location.id == selectedLocation %}selected{% endif %}>{{ location.name }}</option>
            {% endfor %}
        </select>
        
        <h3><label for="band">Band:</label></h3>
        <select class="form-control" id="band" name="band">
            {% for band in bands %}
                <option value="{{ band.id }}" {% if band.id == selectedBand %}selected{% endif %}>{{ band.name }}</option>
            {% endfor %}
        </select>
        
        <h3><label for="capability">Capability:</label></h3>
        <select class="form-control" id="capability" name="capability">
            {% for capability in capabilities %}
                <option value="{{ capability.id }}" {% if capability.id == selectedCapability %}selected{% endif %}>{{ capability.name }}</option>
            {% endfor %}
        </select>
        
        <h3><label for="closingDate">Closing Date:</label></h3>
        <input class="form-control" id="closingDate" name="closingDate" value="{{closingDate}}" type="date">
        
        <h3><label for="description">Description:</label></h3>
        <input class="form-control" id="description" name="description" value="{{description}}" type="text">
        
        <h3><label for="responsibilities">Responsibilities:</label></h3>
        <input class="form-control" id="responsibilities" name="responsibilities" value="{{responsibilities}}" type="text">
        
        <h3><label for="jobSpec">Job Spec Link:</label></h3>
        <input class="form-control" id="jobSpec" name="jobSpec" value="{{jobSpec}}" type="text">

        <h3><label for="openPositions">Open Positions:</label></h3>
            <select class="form-control" id="openPositions" name="openPositions">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        {% if errorMessages %}
            <div class="alert alert-danger mt-2">
                <ul>
                    {% for message in errorMessages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        </br></br>
        <button class="btnKainos mt-2 text-center" id="submit">Submit</button>
    </form>
    </div>
</div>
</div>
{% endblock %}
