{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container-center">
    <div class="col-sm-3 text-center">
        <div class="card border-0 m-5 shadow bg-body-secondary text-center">
            <div class="card-body">
                <h2 class="card-title">Login</h2>
                {% if errormessage %}
                <h5 class="errorMessage" id="errorMessage">{{ errormessage }}</h5>
                {% endif %}
                <form class="form mt-3" action="/loginForm" method="post">
                    <h3><label for="email">
                            Email:
                        </label></h3>
                    <input class="form-control" id="email" name="email" value="{{email}}" type="text">

                    <h3><label for="password">
                            Password:
                        </label></h3>
                    <input class="form-control" id="password" name="password" value="{{password}}" type="password">
                    </br></br>
                    <button class="btnKainos mt-2 text-center" id="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}