{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container-center">
<div class="col-sm-3 text-center">
    <div class="card border-0 m-5 shadow bg-body-secondary text-center">
        <div class="card-body">
            <h1>Logout</h1>

{% if errormessage %}
    <h3>{{ errormessage }}</h3>
{% endif %}
            <form class="form" action="/logoutForm" method="post">
                <button class="btn bg-primary text-white" id="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}