{% extends "siteTemplate.html" %}
{% block content %}
<div class="container container.center">
    <div class="m-5 text-center">
        <div class="bg-body-secondary card">
            <h1 id="job-role-name">{{ job.roleName }}</h1>
            <h3 id="capability">{{ job.capability }}</h3>
            <h3 id="band">{{ job.band }}</h3>
            <h4 id="location">{{ job.location }}</h4>
            <h5 id="closing-date-title">Closing Date</h5>
            <div id="closing-date">{{ job.closingDate | date }}</div>
            <h5 id="description-title">Description</h5>
            <div id="description">{{ job.description }}</div>
            <h5 id="responsibilities-title">Responsibilities</h5>
            <div id="responsibilities">{{ job.responsibilities }}</div>
            <a id="job-spec-link" href="{{ job.jobSpec }}">Job spec</a>
        </div>
    </div>
    <div class="m-5 text-center">
        <div class="bg-body-secondary card">
            {% if userLevel.Role == 1 %}
            <a href="/jobRolesDelete-{{job.id}}" onclick="return confirm('Are you sure you want to delete this Job Role?');" class="btnKainos">Delete Job Role</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}